<div class="max-w-md mx-auto p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold mb-4"  >Add New Group</h2>
  
    <form [formGroup]="featuresForm" (ngSubmit)="saveGroup()">
      <!-- Code Field -->
      <div class="mb-4">
        <label class="block text-gray-700">Code:</label>
        <input formControlName="code" name="code" required class="w-full p-2 border rounded" />
      </div>
  
      <!-- Label Field -->
      <div class="mb-4">
        <label class="block text-gray-700">Label:</label>
        <input formControlName='label' name="label" required class="w-full p-2 border rounded" />
      </div>
  
  
  
      <!-- Submit Button -->
      <button type="submit" class="bg-blue-500 text-white p-2 rounded">Save</button>
    </form>
  </div>
  